<a href="https://colab.research.google.com/github/pixila/Python---Barbin/blob/main/Chapter9uCertify.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
for Letter in "Howdy!":

Letter 1 is H
Letter 2 is o
Letter 3 is w
Letter 4 is d
Letter 5 is y
Letter 6 is !

In [7]:
Value = input("Type less than 6 characters: ")
LetterNum = 1
for Letter in Value:
   print("Letter ", LetterNum, " is ", Letter)
   LetterNum += 1
   if LetterNum > 6:
      print("The string is too long!")
      break

Type less than 6 characters: Hello
Letter  1  is  H
Letter  2  is  e
Letter  3  is  l
Letter  4  is  l
Letter  5  is  o

In [8]:
Value = input("Type less than 6 characters: ")
LetterNum = 1
for Letter in Value:
   print("Letter ", LetterNum, " is ", Letter)
   LetterNum += 1
   if LetterNum > 6:
      print("The string is too long!")
      break

Type less than 6 characters: I am too long
Letter  1  is  I
Letter  2  is
Letter  3  is  a
Letter  4  is  m
Letter  5  is
Letter  6  is  t
The string is too long!

In [9]:
LetterNum = 1
for Letter in "Howdy!":
   if Letter == "w":
      continue
      print("Encountered w, not processed.")
   print("Letter ", LetterNum, " is ", Letter)
   LetterNum += 1

Letter  1  is  H
Letter  2  is  o
Letter  3  is  d
Letter  4  is  y
Letter  5  is  !

In [10]:
LetterNum = 1
for Letter in "Howdy!":
   if Letter == "w":
      pass # Add some code here later to process w
   print("Letter ", LetterNum, " is ", Letter)
   LetterNum += 1

Letter  1  is  H
Letter  2  is  o
Letter  3  is  w
Letter  4  is  d
Letter  5  is  y
Letter  6  is  !

In [11]:
Value = input("Type less than 6 characters: ")
LetterNum = 1
for Letter in Value:
   print("Letter ", LetterNum, " is ", Letter)
   LetterNum += 1
   if (Letter == "" or Letter == Value[-1]):
      break
else:
   print("The string is blank.")

Type less than 6 characters: Hello
Letter  1  is  H
Letter  2  is  e
Letter  3  is  l
Letter  4  is  l
Letter  5  is  o

In [13]:
Value = input("Type less than 6 characters: ")
LetterNum = 1
for Letter in Value:
   print("Letter ", LetterNum, " is ", Letter)
   LetterNum += 1
   if (Letter == "" or Letter == Value[-1]):
      break
else:
   print("The string is blank.")

Type less than 6 characters: Water Bottle
Letter  1  is  W
Letter  2  is  a
Letter  3  is  t
Letter  4  is  e

In [14]:
Sum = 0
while Sum < 5:
   print(Sum)
   Sum += 1

0
1
2
3
4

In [15]:
X = 1
Y = 1
print ('{:>4}'.format(' '), end= ' ')
for X in range(1, 11):
   print('{:>4}'.format(X), end=' ')
print()
for X in range(1,11):
   print('{:>4}'.format(X), end=' ')
   while Y <= 10:
      print('{:>4}'.format(X * Y), end=' ')
      Y += 1
   print()
   Y=1

        1    2    3    4    5    6    7    8    9   10
   1    1    2    3    4    5    6    7    8    9   10
   2    2    4    6    8   10   12   14   16   18   20
   3    3    6    9   12   15   18   21   24   27   30
   4    4    8   12   16   20   24   28   32   36   40
   5    5   10   15   20   25   30   35   40   45   50
   6    6   12   18   24   30   36   42   48   54   60
   7    7   14   21   28   35   42   49   56   63   70
   8    8   16   24   32   40   48   56   64   72   80
   9    9   18   27   36   45   54   63   72   81   90
  10   10   20   30   40   50   60   70   80   90  100

In [16]:
num = 10
while num > 0:
    print(num, end=" ")
    num -= 3

10 7 4 1

In [17]:
total = 0
for i in range(5):
    total += i
print(total)

10

In [18]:
for number in range(1, 6):
 square = number ** 2
 print(f"The square of {number} is {square}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

In [19]:
for number in range(1, 6):
 square = number ** 2
 print(f"The square of {number} is {square}")
 if square > 10:
  print(f"The square exceeds 10. Breaking out of the loop.")
  break

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square exceeds 10. Breaking out of the loop.

In [20]:
for number in range(1, 6):
 square = number ** 2
 if square > 10:
  print(f"The square of {number} exceeds 10. Skipping this iteration.")
  continue
 print(f"The square of {number} is {square}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 exceeds 10. Skipping this iteration.
The square of 5 exceeds 10. Skipping this iteration.

In [21]:
count = 1

In [22]:
while count <= 5:
  print(count)
  count += 1

1
2
3
4
5

In [23]:
count = 1

In [24]:
while True:
 print(count)
 count += 1
 if count > 4:
  break

1
2
3
4

In [25]:
count = 1

In [26]:
while count <= 5:
 if count == 4:
  print("Skipping the rest of the loop.")
  count += 1
  continue
 print(count)
 count += 1

1
2
3
Skipping the rest of the loop.
5

In [27]:
def print_triangle(rows):
 for i in range(rows):
  for j in range(i + 1):
   print("*", end=" ")
  print()

num_rows = 5

print_triangle(num_rows)

*
* *
* * *
* * * *
* * * * *

In [28]:
row = 1

In [29]:
while row <= 5:
 col = 1

 while col <= row:
  print(col, end=" ")
  col += 1

 print()
 row += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [31]:
X = 1
Y = 1

In [32]:
print ('{:>4}'.format(' '), end= ' ')
for X in range(1, 11):
 print('{:>4}'.format(X), end=' ')
print()
for X in range(1,11):
 print('{:>4}'.format(X), end=' ')
 while Y <= 10:
  print('{:>4}'.format(X * Y), end=' ')
  Y += 1
 print()
 Y=1

        1    2    3    4    5    6    7    8    9   10
   1    1    2    3    4    5    6    7    8    9   10
   2    2    4    6    8   10   12   14   16   18   20
   3    3    6    9   12   15   18   21   24   27   30
   4    4    8   12   16   20   24   28   32   36   40
   5    5   10   15   20   25   30   35   40   45   50
   6    6   12   18   24   30   36   42   48   54   60
   7    7   14   21   28   35   42   49   56   63   70
   8    8   16   24   32   40   48   56   64   72   80
   9    9   18   27   36   45   54   63   72   81   90
  10   10   20   30   40   50   60   70   80   90  100