<a href="https://colab.research.google.com/github/pixila/CSIT124---Barbin/blob/main/Module2_DataTypesLab_PriscillaBarbin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
name = "Jordan"
age = 21
height = 5.9
is_student = True

print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [6]:
num1 = int(input("Enter an integer: "))
num2 = float(input("Enter a decimal number: "))

sum_result = num1 + num2
print("Sum:", sum_result)
print("Data type of result:", type(sum_result))

Enter an integer: 23
Enter a decimal number: 863.27
Sum: 886.27
Data type of result: <class 'float'>

In [7]:
a = 10
b = 7

print("Is a > b?", a > b)
print("Is a == 10 and b < 5?", a == 10 and b < 5)
print("Not a < b:", not a < b)

Is a > b? True
Is a == 10 and b < 5? False
Not a < b: True