<a href="https://colab.research.google.com/github/pixila/CSIT124---Barbin/blob/main/Module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 5
print(type(x)) #class 'int'

<class 'int'>

In [ ]:
name = "Alice"
age = 25
pi = 3.14159

print("My name is", name, "and I am", age, "years old.")
print("The value of pi is approximately", pi)

My name is Alice and I am 25 years old.
The value of pi is approximately 3.14159

In [ ]:
x = 5
y = 2
print(x + y)
print(x ** y)
print(x > y)
print(not x > y)

7
25
True
False

In [ ]:
num1 = input("Enter a number:")
num1 = int(num1)
print(num1 + 5)

Enter a number:6
11

In [ ]:
x = "Hello World!"
print(x)

Hello World!

In [ ]:
students_count = 1000 #variables names always descripitive
teachers_count = 50 #all letters lower case aside from the ones in the quotes
rating = 4.99 #in python, no spaces in variable names
is_published = False #always spaces after variables, between the =
course_name = "Python Programming"

In [ ]:
#Operators in Python
#Operator + (addition)
a = 42
b = 58
print(a + b) #concatenations

100

In [ ]:
#Operators in Python
#Operator + (addition)

a = "Promo"
b = "Ambitions"
print(a + ' ' + b) #the ' ' between a and b will add the space between the
                   #variables when using str

Promo Ambitions

In [ ]:
#Operators in Python
#Operator + (addition)

a = "Promo"
b = "Ambitions"
print('Promo' 'Ambitions') #

PromoAmbitions

In [ ]:
#Operators in Python
#Operator - (subtraction)
a = 100
b = 65
print(a - b)

35

In [ ]:
#Operators in Python
#Operator - (subtraction)
a = 65
b = 100
print(a - b)

-35

In [ ]:
#Operators in Python
#Operator * (multiplication)
a = 6
b = 8
print(a * b)

48

In [ ]:
#Operators in Python
#Operator * (multiplication)
a = 3
b = 4
print(a ** b) #exponentials

81

In [ ]:
#Operators in Python
#Operator / (division)
a = 3
b = 4
print(a / b) #when dividing the result will always be a float

0.75

In [ ]:
#Operators in Python
#Operator % (modulus)
#returns the remained when the 1st operator is divided by the 2nd
a = 17
b = 5
print(a % b) #gives the remainder of the division

2

In [ ]:
#Operators in Python
#Operator % (modulus)
day = 16 #day of the month
#check if the day is even
if day % 2 == 0:
    print("Today is an even day of the month")
else:
    print("It's an odd day of the month today")

Today is an even day of the month

In [ ]:
#Operators in Python
#Operator % (modulus)
day = 17 #day of the month
#check if the day is even
if day % 2 == 0:
    print("Today is an even day of the month")
else:
    print("It's an odd day of the month today")

It's an odd day of the month today

In [ ]:
#Operators in Python
#Operator // (floor division)
#divides the first operator by the second
#and returns the largest integer less than or
#equal to the result
a = 17
b = 5
print(a // b)

3

In [ ]:
#Operators in Python
#Operator // (floor division)
#divides the first operator by the second
#and returns the largest integer less than or
#equal to the result
total_people = 100
numper_of_groups = 9
print(total_people / numper_of_groups)
#the line above will show fracton which you dont always want

11.11111111111111

In [ ]:
#Operators in Python
#Operator // (floor division)
#divides the first operator by the second
#and returns the largest integer less than or
#equal to the result
total_people = 100
numper_of_groups = 9

people_per_group = total_people // numper_of_groups
print(people_per_group)

11

In [ ]:
#Operators in Python
#Operator // (floor division)
#divides the first operator by the second
#and returns the largest integer less than or
#equal to the result
total_people = 123
numper_of_groups = 9

people_per_group = total_people // numper_of_groups
print(people_per_group)

13

In [ ]:
#Operators in Python
#Precedence of Arithmetic Operators
#follows correct math order regardless of how you wrote
print(3 + 5 * 2 **2)

23

In [ ]:
#Operators in Python
#Precedence of Arithmetic Operators
#follows correct math order regardless of how you wrote
print(((3 + 5) * 2) **2)

256

In [ ]:
test = 0b100
print("100 binary: ", test)

test = 0o100
print("100 octal: ", test)

test = 100
print("100 decimal: ", test)

test = 0x100
print("100 hexadecimal: ", test)

print(bin(100))
print(oct(100))
print(hex(100))

100 binary:  4
100 octal:  64
100 decimal:  100
100 hexadecimal:  256
0b1100100
0o144
0x64

In [ ]:
test = 255.0
print("Direct Assignment: ", test)

test = 2.55e2
print("Scientific Notation: ", test)

test = 2.55e-2
print("Negative Exponent: ", test)

Direct Assignment:  255.0
Scientific Notation:  255.0
Negative Exponent:  0.0255

In [ ]:
myComplex = 3 + 4j
print(myComplex.real) #prints the real part of variable
print(myComplex.imag) #prints the imaginary part of variable

3.0
4.0

In [ ]:
#booleans (true or false)
a = 17
b = 23
myBol = a > b
print(myBol)

False

In [ ]:
#booleans (true or false)
a = 17
b = 23
myBol = a < b
print(myBol)

True

In [ ]:
#working with date and times
import datetime
print(datetime.datetime.now())
print(datetime.datetime.now().year)
print(datetime.datetime.now().month)
print(datetime.datetime.now().day)

2025-09-14 12:33:22.722804
2025
9
14

In [ ]:
def Hello(): #this is a function, and it will run once you define it
  print("This is my first Python function!")

Hello()

This is my first Python function!

In [ ]:
name = input("What is your name? ")
print("Hello,", name)

What is your name? Priscilla
Hello, Priscilla

In [ ]:
ANumber = float(input("Enter a number: "))
print("You typed: ", ANumber)

Enter a number: 23
You typed:  23.0