<a href="https://colab.research.google.com/github/pixila/Python---Barbin/blob/main/Module3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 10
if x > 5:
  print("x is greater than 5")

x is greater than 5

In [ ]:
score = 85

if score >= 90:
  print("A")
elif score >= 80:
  print("B")
else:
  print("C or below")

B

In [ ]:
count = 0
while count < 5: #Repeats a block of code as long as the condition is true.
  print("Counting:", count)
  count += 1

Counting: 0
Counting: 1
Counting: 2
Counting: 3
Counting: 4

In [ ]:
for i in range(3): #"for" Iterates over a sequence (like a list, range, or string).
  print("iteration:", i)

iteration: 0
iteration: 1
iteration: 2

In [ ]:
for i in range(5):
  if i == 3:
    break  #exits the loop prematurely
  print(i)

0
1
2

In [ ]:
for i in range(5):
  if i == 3:
    continue  #skips the current iteration and moves to the next.
  print(i)

0
1
2
4

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
if a > b: print("a is greater than b") #if it's only 1 statement, can do it in 1 line

a is greater than b

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [ ]:
a = 33
b = 200

if b > a:
  pass #placeholder, does nothing

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
for x in "Priscilla":
  print(x)

P
r
i
s
c
i
l
l
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue #skips over the == x
  print(x)

apple
cherry

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)
  #The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
for x in [0, 1, 2]:
  pass

In [ ]:
x = int(input("Please enter an integer: "))
if x < 0:
  print("Negative changed to zero.")
elif x == 0:
  print("Zero")
elif x == 1:
  print("Single")
else:
  print("More")

Please enter an integer: 1
Single

In [ ]:
# Measure some strings:
words = ["cat", "window", "defenestrate", "Priscilla"]
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12
Priscilla 9

In [ ]:
# Create a sample collection
users = {"Hans": "active", "Éléonore": "inactive", "景太郎": "active"}

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == "inactive":
        del users[user]

# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == "active":
        active_users[user] = status

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
list(range(5, 10))


list(range(0, 10, 3))


list(range(-10, -100, -30))

[-10, -40, -70]

In [ ]:
range(10)

range(0, 10)

In [ ]:
sum(range(4))  # 0 + 1 + 2 + 3

6

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(f"{n} equals {x} * {n//x}")
            break

4 equals 2 * 2
6 equals 2 * 3
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
for num in range(2, 10):
    if num % 2 == 0:
        print(f"Found an even number {num}")
        continue
    print(f"Found an odd number {num}")

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
import math

def is_prime(n):
    """
    Checks if a given number is a prime number.

    Args:
        n (int): The number to check.

    Returns:
        bool: True if the number is prime, False otherwise.
    """
    if n <= 1:
        return False  # Numbers less than or equal to 1 are not prime

    # Check for divisibility from 2 up to the square root of n
    for i in range(2, int(math.sqrt(n)) + 1):
        if n % i == 0:
            return False  # If divisible, it's not prime
    return True  # If no divisors found, it's prime

# Example usage
number_to_check = 29
if is_prime(number_to_check):
    print(f"{number_to_check} is a prime number.")
else:
    print(f"{number_to_check} is not a prime number.")

number_to_check_2 = 10
if is_prime(number_to_check_2):
    print(f"{number_to_check_2} is a prime number.")
else:
    print(f"{number_to_check_2} is not a prime number.")

29 is a prime number.
10 is not a prime number.

In [ ]:
class MyEmptyClass:
    pass

In [ ]:
#collect string/test length
input = raw_input("Please enter a test string: ")

if len(input) < 6:
  print("Your string is too short.")
  print("Please enter a string with at least 6 characters.")
else:
  print("Your string is long enough.")