<a href="https://colab.research.google.com/github/pixila/CSIT124---Barbin/blob/main/StringFormatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = "John"
age = 25

formatted_string = "My name is %s and I am %d years old." % (name, age)
print(formatted_string)

My name is John and I am 25 years old.

In [2]:
product_name = "Laptop"
price = 1200.50
quantity = 2

order_summary = "You have ordered {} {}(s) at a total cost of ${:.2f}.".format(quantity, product_name, price * quantity)

print(order_summary)

You have ordered 2 Laptop(s) at a total cost of $2401.00.

In [3]:
name = "Alice"
age = 30

intro_message = f"Hello, my name is {name} and I am {age} years old."

print(intro_message)

Hello, my name is Alice and I am 30 years old.